.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-width: 400px;
    max-height: 400px;
    margin:10px;
    padding: 20px;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.price{
margin-top: 5px;
}
.info{
    height: 100px;

}
.product >button{
    background-color: yellow;
    border: 1px solid;
    border-color: yellow;
}
.view{
    text-decoration: none;
    color: black;
}